<!DOCTYPE HTML>
<html>

<head>
  <title>Regisztráció - Magyarországi FM rádióadók</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body class="is-preload">
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header">
      <div class="logo container">
        <div>
          <p>Magyarországi FM rádióadók gyűjtőoldala</p>
        </div>
      </div>
    </header>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="/index">Kezdőlap</a></li>
        <li><a href="/auth/login">Bejelentkezés</a></li>
        <li class="current"><a href="/auth/register">Regisztráció</a></li>
      </ul>
    </nav>

    <section id="main">
      <div class="container">
        <div class="row gtr-200">
          <div class="col-6 col-12-medium" style="margin: 0 auto;">
            <section class="box">
              <h2 class="major"><span>Regisztráció</span></h2>
              <form method="POST" action="/auth/register">
                <div class="row gtr-50">
                  <div class="col-12">
                    <input type="text" name="username" placeholder="Felhasználónév" required />
                  </div>
                  <div class="col-12">
                    <input type="text" name="fullname" placeholder="Teljes név" required />
                  </div>
                  <div class="col-12">
                    <input type="password" name="password" placeholder="Jelszó" required />
                  </div>
                  <div class="col-12">
                    <ul class="actions special">
                      <li><input type="submit" value="Regisztráció" /></li>
                    </ul>
                  </div>
                  <% if (typeof error !=="undefined" ) { %>
                    <div class="col-12" style="color: #c00; text-align:center;">
                      <%= error %>
                    </div>
                    <% } %>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </section>

  </div>
  <script src="assets/js/main.js"></script>
</body>

</html>